nav {
  width: 100%;
  height: 50px;
  padding-left: 50px;
  padding-right: 50px;
  @include flex;

  .logo {
    cursor: pointer;

    img {
      height: 70px;
      margin-top: 20px;
    }
  }
  .navlinks {
    a {
      padding: 10px;
      font-weight: 500;
      @include anchor;
    }
  }

  .nav-icons {
    cursor: default;
    i {
      padding: 10px;
      color: $accent-color;
      cursor: pointer;
    }
  }
}
