.services {
  padding-left: 65px;
  padding-right: 60px;
  width: 100%;
  height: 100%;
  @include flex;
  margin: 40px auto;

  .service {
    @include flex;

    .icon {
      padding-right: 20px;
      color: red;
    }

    .content {
      color: $accent-color;
    }
  }
}

@media (max-width: 768px) {
  .services {
    flex-wrap: wrap;

    .service {
      width: 40%;
      margin-top: 10px;
    }
  }
}
